def topla(x, y):
    return x + y

def cikart(x, y):
    return x - y

def carp(x, y):
    return x * y

def bol(x, y):
    return x / y
def uslu(x, y):
    return x ** y

sayi1 = float(input("İlk Sayıyı Giriniz:"))
print("Yapmak istediğiniz İşlemi Seçiniz:")
secim = input()
sayi2 = float(input("İkinci Sayıyı Giriniz:"))

if secim == '+':
    print(sayi1,"+",sayi2,"=", topla(sayi1,sayi2))

elif secim == '-':
    print(sayi1,"-",sayi2,"=", cikar(sayi1,sayi2))

elif secim == '*':
    print(sayi1,"*",sayi2,"=", carp(sayi1,sayi2))

elif secim == '**':
    print(sayi1,"**",sayi2,"=",uslu(sayi1,sayi2))

elif secim == '/':
    if sayi2 == 0:
        print("Hata! Bir sayı sıfıra bölünemez.")
    else:
        print(sayi1,"/",sayi2,"=", bol(sayi1,sayi2))
else:
    print("Geçersiz seçim.")
